.menu_list{background: #222222;color: #ccc;width:18%;float: left;vertical-align: top;height: 100%;position: relative;}
.menu_list a{color: #ddd;}
.index{line-height: 60px;font-size: 32px;font-family: '微软雅黑';font-weight: 600;margin-left: 30px;}
.announce{position: absolute;bottom: 10px;}
.words_main{margin-left: 20px;font-size: 14px;display: block;margin-top: 30px;color: #9d9d9d;}
.main{margin-top: 20px;margin-left: 70px;}
.main li{margin-bottom: 30px;list-style: none;}